#buttons{
width: 100%;
height: auto;
}

.buttonup {
padding: 0px;
width: 50px;
height: 50px;
display: inline-block;
cursor: pointer;
margin-right: 0px;
background-image: url('upvote.jpg');
}

 #count {
 display: inline-block;
 border-radius: 0px;
 background-color: #33cc33;
 border: none;
 color: #ffffff;
 text-align: center;
 font-size: 18px;
 padding: 7px;
 width: 50px;
 margin-top: 0px;

 }
 body{
  margin: 0%;
  background-color: white;
  font-family: 'Koulen', cursive;
  font-size: 2rem;
  color: rgba(212, 14, 14, 0.599);
  
}

 .buttondw {
  width: 50px;
  height: 50px;
  display: inline-block;
    cursor: pointer;
    margin-left: 0px;
  background-image: url('downvote.jpg');
  background-color: white;
}

 .buttonup:hover {
  background-image: url("upvote.jpg")
}
 .buttondw:hover {
 background-image: url("downvote.jpg")
}