
    * {
  box-sizing: border-box;
}
body{
  margin: 0%;
  background-color:black;
  font-family: 'Koulen', cursive;
  font-size: 2rem;
  color: rgba(212, 14, 14, 0.599);
  
}

#moth{
  max-width: 7%;
  max-height: 7%;
}

.topnav-right {
  float: right;
}
.btn{
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  color: #DBD3C9;
  width: 200px;
  height: 50px;
  font-family: 'Koulen', cursive;
  font-size: 1.5rem;
}
.btn:hover{
  font-family: 'Koulen', cursive;
  color: rgba(212, 14, 14, 0.599);
  background-color: #DBD3C9;
}
#makeup{
  background-image: url(assets/makeup.jpg);
  background-size: relative;
  background-position: bottom ;
  width: 25%;
  height: 800px;
}
#fashion{
  background-image: url(assets/sktch.jpg);
  background-position: bottom;
  background-size: cover;
  width: 25%;
  height: 800px;
  display: flex;
  align-items: flex-end;
}
#accessories{
  background-image: url(assets/accessories.jpg);
  background-size: 850px 800px;
  width: 25%;
  height: 800px;
  display: flex;
  align-items: flex-end;
}
#underrated{
  background-image: url(assets/unrtd.jpg);
  background-size:cover;
  width: 25%;
  height: 800px;
}
.container{
  display: flex block;
  flex-direction: row;
  flex-wrap: none;
  justify-content:space-evenly;
  

}
h2{
  transform: rotate(-0.25turn);
  float: left;
}
